*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* || BACKGROUNDS */
.backgrounds {
	position: relative;
}
.backgrounds * {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	opacity: 0;
	transition: opacity 1s, background-color 1s;
}

body[data-result="NORMAL"] .backgrounds .normal {
	opacity: 1;
}
body[data-result="CORRECT"] .backgrounds .correct {
	opacity: 1;
}
body[data-result="INCORRECT"] .backgrounds .incorrect {
	opacity: 1;
}

.normal {
	background-color: hsl(220, 100%, 50%);
	background-image: linear-gradient(
		to bottom,
		hsl(220, 80%, 70%),
		hsl(225, 100%, 50%)
	);
}
.correct {
	background-color: hsl(120, 80%, 70%);
	background-image: linear-gradient(
		to bottom,
		hsl(110, 80%, 70%),
		hsl(130, 100%, 50%)
	);
}
.incorrect {
	background-color: hsl(5, 100%, 50%);
	background-image: linear-gradient(
		to bottom,
		hsl(0, 80%, 70%),
		hsl(10, 100%, 50%)
	);
}

/* || CONTAINERS */
.page-containers {
	position: relative;
	display: grid;
	grid-template-areas: "O";
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.page-containers > section {
	grid-area: O;
	max-width: 80vw;
	opacity: 0;
	font-size: 2rem;
	transition: opacity 1s;
	pointer-events: none;
}

.page-containers > [data-active] {
	opacity: 1;
	pointer-events: initial;
}

[data-field],
[data-element],
[data-answer] {
	font-weight: 700;
	text-transform: uppercase;
}

:where([data-page="VALUE"], [data-page="BOOLEAN"], [data-page="COMPARE"]) {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1ch;
	height: 100%;
	padding: 1rem;
}

:where([data-page="VALUE"], [data-page="BOOLEAN"], [data-page="COMPARE"]) .correction {
	padding: .8rem 1rem;
	width: 20ch;
	transition: opacity 1s;
}
:where([data-page="VALUE"], [data-page="BOOLEAN"], [data-page="COMPARE"]) .line {
	border-bottom: 2px solid black;
	border-radius: 0 0 2px 2px;
}
[data-result="NORMAL"] :where([data-page="VALUE"], [data-page="BOOLEAN"], [data-page="COMPARE"]) .correction {
	opacity: 0;
	pointer-events: none;
}

:where([data-page="VALUE"], [data-page="BOOLEAN"], [data-page="COMPARE"]) .input {
	gap: 3rem;
	flex: 1;
}

:where([data-page="BOOLEAN"], [data-page="COMPARE"]) .input button {
	position: relative;
	font-size: 2.5rem;
	transition: translate 300ms, opacity 1s;
}
:where([data-page="BOOLEAN"], [data-page="COMPARE"]) .input button:where(:hover, [data-correct]) {
	translate: 0 -1rem;
}
:where([data-page="BOOLEAN"], [data-page="COMPARE"]) .input [data-incorrect] {
	opacity: .8;
}
:where([data-page="BOOLEAN"], [data-page="COMPARE"]) .input [data-field-value] {
	position: absolute;
	top: 100%;
	left: 50%;
	translate: -50%;
	padding: .5rem 2rem;
	font-size: 2rem;
	background-color: hsl(50, 100%, 50%);
	transition: top 1s, opacity 1s;
}
[data-result="NORMAL"] :where([data-page="BOOLEAN"], [data-page="COMPARE"]) .input [data-field-value] {
	top: 50%;
	opacity: 0;
}

[data-page="COMPARE"] [data-comparison="LOWER"] .higher {
	display: none;
}
[data-page="COMPARE"] [data-comparison="HIGHER"] .lower {
	display: none;
}

[data-page="OWNER"] {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	gap: 1ch;
	height: 100%;
	padding: 1rem;
}

/* || PERIODIC TABLE */
.table {
	flex: 1;
	display: grid;
	grid-template-rows: repeat(10, 2.2rem);
	grid-template-columns: repeat(18, 2.2rem);
	font-size: 1.3rem;
	justify-content: center;
	align-content: center;
	align-items: center;
	transition: opacity 1s, box-shadow 1s;
}
.table .element {
	width: 100%;
	height: 100%;
	color: transparent;
}
.table .element:where(:hover, [data-correct]) {
	opacity: 1;
	color: white;
	filter: brightness(1.5);
	scale: 1.2;
	z-index: 1;
}
.table .element[data-correct] {
	transition: scale 1s;
	scale: 1.4;
}
:where([data-result="CORRECT"], [data-result="INCORRECT"]) .table .element:not([data-correct]) {
	opacity: .5;
	box-shadow: none;
	
	color: transparent;
	filter: unset;
	scale: unset;
	z-index: initial;
}
.table [data-value="HELIUM"] {
	grid-column: 18;
}
.table [data-value="BORON"],
.table [data-value="ALUMINUM"] {
	grid-column: 13;
}
.table [data-value="HAFNIUM"],
.table [data-value="RUTHERFORDIUM"] {
	grid-column: 4;
}
.spacer {
	grid-column: 18;
}
.table [data-value="LANTHANUM"],
.table [data-value="ACTINIUM"] {
	grid-column: 4;
}
.table :nth-child(n + 90) {
	translate: 0 -1rem;
}

/* .table .solid:hover{
	color: #b5b5b5;
}
.table .liquid:hover{
	color: #99F;
}
.table .gas:hover{
	color: #F44;
} */
.table .unknown{
	background-color: #777;
}
.table .alkali{
	background-color:			#6c3b01;
}
.table .alkaline{
	background-color:			#846011;
}
.table .lanthanoid{
	background-color:		#402c17;
}
.table .actinoid{
	background-color:			#732e4c;
}
.table .transition{
	background-color:		#711019;
}
.table .poor{
	background-color:				#003666;
}
.table .metalloid{
	background-color:		#015146;
}
.table .nonmetal{
	background-color:			#3e6418;
}
.table .noble{
	background-color:			#3a2151;
}
.table .nocategory{
	background-color:		#222;
}

:where([data-result="CORRECT"], [data-result="INCORRECT"]) .table .element {
	box-shadow: none;
}
.table .element
{
	box-shadow: 2px 2px 0 1px black;
}

/* || UTILS */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1ch
}
.container.horizontal {
	flex-direction: row;
}
.container.around {
	justify-content: space-around;
}
.container.between {
	justify-content: space-between;
}
.container.centered {
	justify-content: center;
}

.card {
	background-color: hsl(0, 100%, 100%);
	padding: .8rem 3rem;
	box-shadow: .2ch .2ch 0 black;
}

button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	border: none;
	cursor: pointer;
}
input[type="text"] {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	width: 10ch;
	text-transform: uppercase;
	border: none;
	border-bottom: 2px solid black;
	border-radius: 2px;
	background-color: transparent;
}
input[type="text"]:focus-visible {
	outline: none;
}
